.footer {
  margin-top: 100px;
  width: 100%;
  background-color: #05274b;
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
  &__container {
    p {
      color: white;
      font-size: 15px;
      line-height: 25px;
      svg {
        margin-left: 5px;
        fill: white;
        width: 15px;
      }
      span {
        color: #384aeb;
        cursor: pointer;
      }
    }
  }
}
